<launch>

<rosparam file="$(find antronyx_arm_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="antronyx_arm" args="hand_joint_position_controller arm_joint_position_controller sh_joint_position_controller head_joint_position_controller joint_state_controller "/>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/antronyx_arm/joint_states"/>
</node>

</launch>
